Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
.deps/
src/aws
*.o
stamp-h1
ltmain.sh
config.guess
ar-lib
libtool
config.sub
configure
.libs
*.la
*.lo
src/dish
